<% content_for :filteringSection do %>

    <!-- RANSACK -->
    <%= search_form_for @search, url: admin_visitors_path do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name contains" %><br />
        <%= f.text_field :name_cont %>
      </div>
      <div class="field">
        <%= f.label :created_at_gteq, "Date/Time From" %><br />
        <%= f.datetime_select :created_at_gteq, include_blank: true %><br />
        <%= f.label :created_at_lteq, "Date/Time To" %><br />
        <%= f.datetime_select :created_at_lteq, include_blank: true %>   
      </div>
      <div class="field">
        <%= f.label :department_eq, "Department" %><br />
        <%= f.select :department_eq, ['HR', 'R&D', 'Finance', 'Support'], include_blank: true %>
      </div>
      <div class="field">
        <%= f.label :email_cont, "Email" %><br />
        <%= f.text_field :email_cont %>
      </div>
      <div class="field">
        <%= f.label :phone_cont, "Phone" %><br />
        <%= f.text_field :phone_cont %>
      </div>
      <div class="field">
        <%= f.label :reason_cont, "Reason" %><br />
        <%= f.text_field :reason_cont %>
      </div>
      <div class="actions">
        <%= f.submit "Submit" %> or <%= link_to "Clear Filters", admin_visitors_path %>
      </div>
    <% end %>
    
    <hr>

    Returned records # <%= @size_returned %><br />

<% end %>

<ul class="list-group">
  <% @visitors.each do |visitor| %>
    <li class="list-group-item">
      <img src="<%= visitor.photo %>">
      <%= visitor.name %>
      <%= visitor.department %>
      <%= visitor.email %>
      <%= visitor.phone %>
      <%= visitor.reason %>
      <%= visitor.created_at %>
      <%= link_to 'Show', admin_visitor_path(visitor) %>
      <%= link_to 'Edit', edit_admin_visitor_path(visitor) %>
      <%= link_to 'Destroy', admin_visitor_path(visitor), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  
</ul>
<div>
  <%= paginate @visitors %>
</div>
