<% content_for :filteringSection do %>

    <!-- RANSACK -->
    <%= search_form_for(@search, url: admin_visitors_path, :html => {:role => 'form'}) do |f| %>
      <div class="field form-group">
        <%= f.label :name_cont, "Name contains" %><br />
        <%= f.text_field :name_cont, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :created_at_gteq, "Date/Time From" %><br />
        <%= f.datetime_select :created_at_gteq, include_blank: true, class: 'form-control' %><br />
        <%= f.label :created_at_lteq, "Date/Time To" %><br />
        <%= f.datetime_select :created_at_lteq, include_blank: true, class: 'form-control' %>   
      </div>
      <div class="field form-group">
        <%= f.label :department_eq, "Department" %><br />
        <%= f.select(:department_eq, ['HR', 'R&D', 'Finance', 'Support'], {include_blank: true}, {class: "form-control"}) %>
      </div>
      <div class="field form-group">
        <%= f.label :email_cont, "Email" %><br />
        <%= f.text_field :email_cont, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :phone_cont, "Phone" %><br />
        <%= f.text_field :phone_cont, class: 'form-control' %>
      </div>
      <div class="field form-group">
        <%= f.label :reason_cont, "Reason" %><br />
        <%= f.text_field :reason_cont, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Search", class: "btn btn-success btn-lg btn-block" %><br /> 
        or <%= link_to "Clear Filters", admin_visitors_path, class: "btn btn-warning" %>
      </div>
    <% end %>
    
    <hr>

    Returned <span class="label label-primary"><%= @size_returned %></span> records!<br />

<% end %>

<% if @size_returned == 0 %>
    <div class="panel panel-default">
      <div class="panel-body text-warning">
        No Record Matched Your Search Criteria!
      </div>
    </div>
<% else %>
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
             <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Department</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Reason</th>
                <th>DateTime</th>
                <th>Actions</th>
             </tr>
          </thead>
          <tbody>
            
            <% @visitors.each do |visitor| %>
              <tr>
                <td><img src="<%= visitor.photo %>" height="100" width="150" class="img-rounded"></td>
                <td><span class="lead"><%= visitor.name %></span></td>
                <td><%= visitor.department %></td>
                <td><%= visitor.email %></td>
                <td><%= visitor.phone %></td>
                <td><%= visitor.reason %></td>
                <td><%= visitor.created_at.strftime("%d %B %Y at %I:%M %p") %></td>
                <td>
                  <div class="btn-group pull-right">
                    <%= link_to "Details", admin_visitor_path(visitor) %><br />
                    <%= link_to "Edit", edit_admin_visitor_path(visitor) %><br />
                    <%= link_to "Delete", admin_visitor_path(visitor), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                  
                </td>
              </tr>
            <% end %>
            
          </tbody>
        </table>
      </div>      
  
      <div class="panel-footer text-center">
        <%= paginate @visitors %>
      </div>
    </div>
<% end %>