<h1>Listing visitors</h1>

<ul class="list-group">
  <% @visitors.each do |visitor| %>
    <li class="list-group-item">
      <img src="<%= visitor.photo %>">
      <%= visitor.name %>
      <%= visitor.department %>
      <%= visitor.email %>
      <%= visitor.phone %>
      <%= visitor.reason %>
      <%= visitor.created_at %>
      <%= link_to 'Show', admin_visitor_path(visitor) %>
      <%= link_to 'Edit', edit_admin_visitor_path(visitor) %>
      <%= link_to 'Destroy', admin_visitor_path(visitor), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  
</ul>

<br>

<%#= link_to 'New Visitor', new_admin_visitor_path %>
