<h1>Listing visitors</h1>


<!--

######## THIS WAS BEFORE WE DECIDED TO GIVE "RANSACK" A TRY! ######## 


<%#= form_tag('/admin/visitors', method: :get) do -%>
  <div>
    <%#= label_tag 'namecontains', "Name Contains" %><br />
    <%#= text_field_tag 'namecontains', params[:namecontains] %>
  </div>
  
  <div><%#= submit_tag 'Go' %></div>
<%# end -%>
-->


<!-- RANSACK -->
<%= search_form_for @search, url: admin_visitors_path do |f| %>
  <div class="field">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="field">
    <%= f.label :created_at_gteq, "DateTime between" %>
    <%= f.datetime_select :created_at_gteq %>
    <%= f.label :created_at_lteq, "and" %>
    <%= f.datetime_select :created_at_lteq %>   
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<%= link_to "Show all", admin_visitors_path %><br />

Returned records # <%= @visitors.size %><br />

<div>
  <%= paginate @visitors %>
</div>
<ul class="list-group">
  <% @visitors.each do |visitor| %>
    <li class="list-group-item">
      <img src="<%= visitor.photo %>">
      <%= visitor.name %>
      <%= visitor.department %>
      <%= visitor.email %>
      <%= visitor.phone %>
      <%= visitor.reason %>
      <%= visitor.created_at %>
      <%= link_to 'Show', admin_visitor_path(visitor) %>
      <%= link_to 'Edit', edit_admin_visitor_path(visitor) %>
      <%= link_to 'Destroy', admin_visitor_path(visitor), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
  
</ul>

<br>

<%#= link_to 'New Visitor', new_admin_visitor_path %>
