<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form', :class => "form-signin form-change-password" }) do |f| %>
  
  <h2 class="form-signin-heading text-center">Change password</h2>
  
  <%= devise_error_messages! %>

  <div style="display:none;"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div>Desired new password:<br />
  <%= f.password_field :password, :autocomplete => "off", :class => "form-control", :autofocus => true %></div>

  <div>Desired new password (Confirmation):<br />
  <%= f.password_field :password_confirmation, :class => "form-control" %></div>

  <div>Your current password:<br />
  <%= f.password_field :current_password, :class => "form-control" %></div>

  <div><%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block", data: { disable_with: 'Processing...' } %></div><br><br>
  <%= link_to "&larr; Back".html_safe, admin_visits_path, data: { no_turbolink: true } %>
  
<% end %>
