<%= form_for(@visitor, :html => {:role => 'form'}) do |f| %>
  <% if @visitor.errors.any? %>
    <div id="error_explanation">
      <h2>Error</h2>

      <ul>
        <li>
          All fields are mandatory!
        </li>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <div id="vid">
            <video id="video"></video><br />
            <a id="startbutton" class="btn btn-primary capture-btn"> <i class="fa fa-camera fa-2x"></i> CAPTURE</a>
          </div>

          <div id="can" style="display:none;">
            <canvas id="canvas"></canvas>
            <div id="actionbtns">
              <a id="ok" class="btn btn-success btn-looking-good"><i class="fa fa-thumbs-up fa-2x"></i> LOOKING GOOD</a>
              <a id="isnotok" class="btn btn-danger btn-one-more-time"><i class="fa fa-thumbs-down fa-2x"></i> ONCE MORE</a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div id="currently-saved-photo">
            <% unless @visitor.photo == "" or @visitor.photo == nil %>
              <img src="<%= @visitor.photo %>"><br />
              <p class="text-warning bg-warning current-pic">Note: this image is currently saved for you, if you want to change it, simply take another photo on the left.</p>
            <% end %>
          </div>
        </div>
      </div>
  </div>

  <div class="form-group" style="display:none;">
    <%= f.label :photo %><br>
    <%= f.text_area :photo %>
  </div>

  <div class="form-group">
    <strong>Full Name</strong><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>


  <%= f.fields_for :visits do |visit_form| %>
    <div class="form-group">
      <strong>From Company</strong><br>
      <%= visit_form.text_field :from_company, class: 'form-control' %>
    </div>
    <div class="form-group">
      <strong>Person to meet</strong><br>
      <%= visit_form.text_field :person_to_meet, class: 'form-control' %>
    </div>
    <div class="form-group">
      <strong>Company to visit</strong><br>
      <%= visit_form.select(:company_to_visit, ['F-Secure', 'Home Guru', 'Besedo'], {include_blank: true}, {class: "form-control"}) %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success btn-lg btn-block", data: { disable_with: 'Processing...' } %>
  </div>
<% end %>


<script type="text/javascript" charset="utf-8">
  (function() {

    var streaming = false,
        video        = document.querySelector('#video'),
        canvas       = document.querySelector('#canvas'),
        startbutton  = document.querySelector('#startbutton'),
        width = 300,
        height = 0;

    navigator.getMedia = ( navigator.getUserMedia ||
                           navigator.webkitGetUserMedia ||
                           navigator.mozGetUserMedia ||
                           navigator.msGetUserMedia);

    navigator.getMedia(
      {
        video: true,
        audio: false
      },
      function(stream) {
        if (navigator.mozGetUserMedia) {
          video.mozSrcObject = stream;
        } else {
          var vendorURL = window.URL || window.webkitURL;
          video.src = vendorURL.createObjectURL(stream);
        }
        video.play();
      },
      function(err) {
        console.log("An error occured! " + err);
      }
    );

    video.addEventListener('canplay', function(ev){
      if (!streaming) {
        height = video.videoHeight / (video.videoWidth/width);
        video.setAttribute('width', width);
        video.setAttribute('height', height);
        canvas.setAttribute('width', width);
        canvas.setAttribute('height', height);
        streaming = true;
      }
    }, false);

    function takepicture() {
      canvas.width = width;
      canvas.height = height;
      canvas.getContext('2d').drawImage(video, 0, 0, width, height);
      $( "div#vid" ).hide();
      $( "div#can" ).show();
    }

    startbutton.addEventListener('click', function(ev){
        takepicture();
      ev.preventDefault();
    }, false);

    $( "#ok" ).click(function() {
      var data = canvas.toDataURL('image/png');
      $( "textarea#visitor_photo" ).val(data);
      $( "#actionbtns" ).replaceWith( "<br /><p class=\"bg-success text-center good-image\">Done!</p>" );

      var existing = document.getElementById('currently-saved-photo');
      if (existing !== null) $( "#currently-saved-photo" ).hide();
    });

    $( "#isnotok" ).click(function() {
      $( "div#can" ).hide();
      $( "div#vid" ).show();
    });

  })();
</script>
