<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2>Error</h2>

      <ul>
        <li>
          All fields are mandatory!
        </li>
      </ul>

    </div>
  <% end %>

  <!-- create a new visit record the the below visitor (id given) -->
  <div class="field" style="display:none;">
    <input id="visit_visitor_id" name="visit[visitor_id]" type="text" autocomplete="off" value="<%= @visitor.id %>">
  </div>

  <div>
    <img src="<%= @visitor.photo %>" height="100" width="140" class="img-rounded"><br />
    <%= @visitor.name %>
  </div>

  <div class="field">
    <%= f.label :from_company %><br>
    <%= f.text_field :from_company %>
  </div>
  <div class="field">
    <%= f.label :person_to_meet %><br>
    <%= f.text_field :person_to_meet %>
  </div>
  <div class="field">
    <%= f.label :company_to_visit %><br>
    <%= f.select(:company_to_visit, ['F-Secure', 'Home Guru', 'Besedo'], {include_blank: true}) %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", data: { disable_with: 'Processing...' } %>
  </div>
<% end %>
