<%= form_for(@visit, :html => {:role => 'form'}) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2>Error</h2>

      <ul>
        <li>
          All fields are mandatory!
        </li>
      </ul>

    </div>
  <% end %>

  <div class="field" style="display:none;">
    <input id="visit_visitor_id" name="visit[visitor_id]" type="text" autocomplete="off" value="<%= @visitor.id %>">
  </div>

  <div class="form-group">
    <img src="<%= @visitor.photo %>" class="img-rounded"><br>
    <span class="lead text-info"><strong><%= @visitor.name %></strong></span>
  </div>

  <div class="form-group">
    <strong>Which company are you from?</strong><br>
    <%= f.text_field :from_company, class: 'form-control' %>
  </div>
  <div class="form-group">
    <strong>Who are you meeting?</strong><br>
    <%= f.text_field :person_to_meet, class: 'form-control' %>
  </div>
  <div class="form-group">
    <strong>Please choose the company you are visiting:</strong><br>
    <%= f.select(:company_to_visit, ['F-Secure', 'Home Guru', 'Besedo'], {include_blank: true}, {class: 'form-control'}) %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success btn-lg btn-block", data: { disable_with: 'Processing...' } %>
  </div>
<% end %>
