<p id="notice"><%= notice %></p>

<p>
  <strong>Visitor:</strong>
  <%= @visit.visitor %>
</p>

<p>
  <strong>From company:</strong>
  <%= @visit.from_company %>
</p>

<p>
  <strong>Person to meet:</strong>
  <%= @visit.person_to_meet %>
</p>

<p>
  <strong>Company to visit:</strong>
  <%= @visit.company_to_visit %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
