<p>
  <img src="<%= @visit.visitor.photo %>">
</p>

<p>
  <strong>Name:</strong>
  <%= @visit.visitor.name %>
</p>

<p>
  <strong>Date and Time of Arrival:</strong>
  <%= @visit.created_at.strftime("%d %B %Y at %I:%M %p") %>
</p>


<p>
  <strong>From Company:</strong>
  <%= @visit.from_company %>
</p>

<p>
  <strong>Meeting who:</strong>
  <%= @visit.person_to_meet %>
</p>

<p>
  <strong>Visiting which company:</strong>
  <%= @visit.company_to_visit %>
</p>

<p>
  <strong>Checkout:</strong>
  <% if @visit.checkout_time.nil? %>
    <span class="label label-danger">Not checked out yet!</span>
  <% else %>
    <span class="label label-success"><%= @visit.checkout_time.strftime("%d %B %Y at %I:%M %p") %></span>
  <% end %>
</p>

<br>
<%= link_to 'Back', admin_visits_path %>
