<%= search_form_for(@search, url: index_returning_path) do |f| %>
  <div class="field">
    <%= f.label :name_cont, "What's your name?" %>
    <%= f.text_field :name_cont %>
  </div>
  <div class="actions"><%= f.submit "Search", data: { disable_with: 'Processing...' } %></div>
<% end %>

<% if @visitors %>
  <% if @visitors.empty? %>
    No visitor found with that name! please try again.
  <% else %>
    <% @visitors.each do |visitor| %>
      <img src="<%= visitor.photo %>" height="100" width="140" class="img-rounded">
      <%= visitor.name %>
      <%= link_to "This is me", { :controller => 'visits', :action => "new", :data => visitor.id } %>
    <% end %>
  <% end %>
<% end %>
