<!DOCTYPE html>
<html>
<head>
  <title>FS Digital Visitor Registry Book</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <!-- font awesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  
  <style type="text/css" media="screen">
    body {
      background-image:url(<%= asset_path "Untitled-1.jpg" %>);
    }
  </style>
</head>
<body>

  
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <% if notice %>
        <div id="notice" class="notice alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div id="alert" class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <%= alert %>
        </div>
      <% end %>
      
      <%= yield %>
    </div>
    <div class="col-md-3"></div>
  </div>



</body>
</html>
